.NavBar {
    background-color: rgb(114, 210, 241);
}

.NavLink {
    padding: 5px;
}

.NavLink i {
    padding: 5px;
}

.img {
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
}