.SearchBar input {
    border-radius: 20px;
    color: #242a3d;
    padding-left: 40px;
    margin-bottom: 16px;
}

.SearchIcon {
    position: absolute;
    font-size: 1.2rem;
    left: 20px;
}

.SearchIcon:hover {
    cursor: default;
    color: #cfced3;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}

.Container {
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .Container {
        width: 100%;
    }
}