.Container {
    min-height: 343px;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

.PopProfiles {
    text-align: center;
    margin-top: 20px;
}